{% extends 'base.html.twig' %}

{% block body %}
    
    
    <div class="container-fluid">
	    <div class="col-md-4">
	    
	    	<div style="padding:10px;"></div>
	    
	    	<b>Vacante:</b> Programador Web<br>
	    	<b>Nombre:</b> Armando Hern&aacute;ndez Aguayo<br>
	    	<b>App:</b> Cash machine
	    
	    </div>
	    <div class="col-md-4">
	    
	    	<div id="alerts" style="padding:10px;"></div>
	    
	    	<form id="step1">
			  <div class="form-group">
			    <label for="user">Usuario</label>
			    <input type="text" class="form-control" id="user" placeholder="Usuario" value="clickbus">
			  </div>
			  <div class="form-group">
			    <label for="pin">PIN</label>
			    <input type="password" class="form-control" id="pin" placeholder="PIN" value="clickbus">
			  </div>
			  <button type="button" class="btn btn-default" id="btn_validate_user">Siguiente</button>
			</form>
			
			<br>
			
			<form id="step2" style="display:none;">
			  <div class="form-group">
			    <label for="amount">Monto a solicitar</label>
			    <input type="number" class="form-control" id="amount" placeholder="Monto">
			  </div>
			  <button type="button" class="btn btn-default" id="btn_get_money">Siguiente</button>
			</form>
	    
	    </div>
	    <div class="col-md-4">&nbsp;</div>
    </div>
    
    
    
{% endblock %}

{% block stylesheets %}

{% endblock %}
